
    <table class="table">
        <tbody>          
           
                <tr>
                    <td>
                        <img src="@Person.Image" height="100"/><br />
                        <a href=@Person.Link> @Person.Name </a><br />
                        @Person.Birthday - @Person.Death<br />
                        <label> @Person.Description</label>
                    </td>
                </tr>
                

        </tbody>
    </table>